{erl_opts, [debug_info]}.
{deps, []}.
{minimum_otp_vsn, "19.0"}.
{dialyzer, [
	{get_warnings, true},
	{warnings, [
		error_handling, race_conditions, underspecs, unmatched_returns, unknown
	]}
]}.
{xref_warnings,true}.
{xref_checks, [
	undefined_function_calls, undefined_functions, locals_not_used,
	deprecated_function_calls, deprecated_functions
]}.
{cover_enabled, true}.
{cover_opts, [verbose]}.
